body{
  background-color: rgb(241, 251, 143);
}




/* Leaf */
.leaf-custom{

  height: 20vh;
  width: 20vh;
  cursor: pointer;
  scale: 1;
  
  
}

.click-custom:active{
  scale: 0.98;
}


/* sidebar */

.sidebar{
  background-color: rgba(179, 255, 0, 0.337);
  width: 16vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container-side{
  width: 16vw;
  height: 100vh;
}





.valid{
  background-color: rgba(0, 248, 0, 0.298);
}

.notvalid{
  background-color: red;
}

/* Counter */
.count-custom{
  color: green;
  font-weight: 400;
}

/* icon coins */
.icon-color{
  color: rgb(196, 190, 19);
}

/* reset button */
.resetButton{
  background-color: white;
  margin-top: 10px;

  height: 40px;
  width: 100%;

  font-size: 25px;
  font-weight: 600;
  text-align: center;
  transition: 0.3s;
}

.resetButton:hover{
  cursor: pointer;
  font-size: 27px;
}

/* button */

.button-size{
  width: 98%;
  
}

.custom-text{
  height: 100%;
  margin-right: 10px;
  font-size: calc(0.2rem + 0.7vw);
  align-self: end;
  
}

.custom-title{
  height: 40px;
  margin-left: 10px;
  font-size: calc(0.5rem + 0.9vw);
  text-align: start;
  align-self: start;
}

.button{
  height: 90px;
  width: 100%;
  font-weight: 500;
  
  border: 2px solid rgb(2, 59, 2);
  border-radius: 10px;
}
.button:hover{
  cursor: pointer;
}

.button:active{
  scale: 0.96;
}






@media (max-width: 1200px) {

  .custom-text{
    font-size: calc(0.2rem + 0.9vw);
  }
  .custom-title{
    font-size: calc(0.5rem + 1vw);
  }
}